.wrapper{
    display: flex;
    align-items: stretch;
    height: 48px;
}
.search{
    padding: 14px 24px;
    height: auto;
    width: 400px;
    border-radius: 8px;
    border: 1px solid black;
    border-top-right-radius:0px ;
    border-bottom-right-radius:0px ;
} 

.searchButton{
    padding: 14px 24px;
    height: auto;
    border-radius: 8px;
    border: 1px solid black;
    border-top-left-radius:0px ;
    border-bottom-left-radius:0px ;
    cursor: pointer;
}
