/* .search{
    padding: 14px 24px;
    height: auto;
    width: 400px;
    border-radius: 8px;
    border: 1px solid black;
    border-top-right-radius:0px ;
    border-bottom-right-radius:0px ;
} */

